:root{
    --fundo: #A52A2A;
    --cartao-frente: #F0F8FF;
    --cartao-verso: #E6E6FA;
    --destaque: #D8BFD8;
    --preto: #000000;
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    color: var(--preto);
    width: 100%;
    text-align: center;
    background-color: var(--branco);

}
 #container{
 margin: 4rem;
 display: flex;
 flex-wrap: wrap;
gap: 3rem; 
}

.cartao{
    background-color: var(--cartao-frente) ;
flex-grow: 1;
flex-basis: calc(33% - 6rem);
height: 20rem;
margin: 1rem;
}

.conteudo-cartao{
    background-color: var(--cartao-frente);
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.centeudo-cartao h3{
    position: absolute;
text-align: left;
color: var(--destaque);
border: 1px solid var(--destaque);
border-radius: 3rem;
margin: 0.6rem;
padding: 0.6rem;
font-size: 1vw;
backface-visibility: hidden;
}
