:root{
    --fundo: #A52A2A;
    --cartao-frente: #F0F8FF;
    --cartao-verso: #E6E6FA;
    --destaque: #D8BFD8;
    --preto: #000000;
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    color: var(--preto);
    width: 100%;
    text-align: center;
    background-color: var(--branco);

}
 #container{
 margin: 4rem;
 display: flex;
 flex-wrap: wrap;
gap: 3rem; 
}

.cartao{
    background-color: var(--cartao-frente) ;
flex-grow: 1;
flex-basis: calc(33% - 6rem);
height: 20rem;
margin: 1rem;
}

.conteudo-cartao{
    background-color: var(--cartao-frente);
}

